body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.error {
    color: red;
    font-size: 13px;
}

.wrapper {
    margin-top: 80px;
}

header nav.navbar {
    background-color: #062a44;
}

header nav.navbar .logo {
    width: 48px;
}

header nav.navbar .post-a-deal {
    color: rgba(255,255,255, 1) !important;
}

header nav.navbar .navbar-brand .high-light {
    font-weight: bold;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

.wrapper .title{
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #cccccc;
}


