body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-color: #777;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


.error {
    color: red;
    font-size: 13px;
}

.wrapper {
    margin-top: 70px;
}

header nav.navbar {
    background-color: #062a44;
}

header nav.navbar .logo {
    width: 48px;
}

header nav.navbar .post-a-deal {
    color: rgba(255,255,255, 1) !important;
}

header nav.navbar .navbar-brand .high-light {
    font-weight: bold;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

.wrapper .title{
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
    margin: 30px 0;
}

.inner-wrapper {
    padding: 30px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    min-height: 600px;
}

.deal-detail .deal-title {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 28px;
}

.deal-detail .deal-content .price {
    font-weight: bold;
    margin-bottom: 20px;
}

.deal-detail .deal-content .view-comment {
    border-bottom: 1px dashed #ccc;
    border-top: 1px dashed #ccc;
    padding: 5px 0;
    font-size: 12px;
    color: #333333;
    margin-bottom: 10px;
}

.deal-detail .deal-content .description {
    font-size: 14px;
}

.deal-detail .deal-content .see-deal-btn {
    margin: 10px 0;
}

.deal-detail .deal-content .profile-image-thumb {
    float: left;
    margin-right: 10px;
}

.frontpage-deals h1{
    font-size: 24px;
    padding: 0 0 10px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
}

.deal-list .row {
    margin-left: 0;
    margin-right: 0;
}

.deal {
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.deal a{
     color: #000000;
}

.deal a:hover{
    text-decoration: none;
}

.deal .image {
    text-align: center;
}

.deal .image img {
    height: 100px;
    margin: 0 auto;
}

.deal .store {
    margin-top: 3px;
    color: #999;
    font-size: 12px;
}

.deal .deal-title {
    color: #0072bc;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.deal .price-user {
    margin-top: 5px;
    overflow: hidden;
}

.deal .price-user .price{
    font-weight: bold;
    color: #76b14c;
    float: left;
    width: 50%;
}

.deal .price-user .user {
    float: right;
}

.deal .comment {
    background: #eeeeee;
    padding: 5px;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.filters {
    border-right: 1px solid #cccccc;
    padding: 0 10px;
}

.filters .filter-title {
    font-size: 18px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
}

.filters ul {
    padding: 0;
}

.filters ul li {
    list-style: none;
    font-size: 13px;
    padding-bottom: 5px;
}

.filters ul li a {
    color: #000000;
}

.filters ul li a:hover {
    text-decoration: none;
    color: #0072bc;
}

footer {
    background: #062a44;
    padding: 20px;
    color: #fff;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    text-decoration: none;
    color: #0072bc;
}

footer ul {
    text-align: right;
}

footer ul li {
    list-style: none;
    display: inline-block;
}